/* Style the text div */
.text {
    text-align: center;
    margin: 20px 0;
    font-family: 'Arial', sans-serif;
}

.text b {
    color: #0e0f0f; /* Change the color as needed */
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #001df9;
    padding: 10px;
}

th {
    width: 30%;
    background-color: #b2ccfc; /* Header background color */
    color: #0e0f0f; /* Header text color */
    text-align: center;
    font-size: large;
}

td {
    padding: 10px;
    text-align: left;
    font-size: 20px;
}

/* Add some space between table cells */
td {
    padding: 10px;
}

.text1 {
    border-bottom: 1px solid #ddd;
    margin-right: 5px;
    text-align: right;
}

td {
    padding: 10px;
}

/* Style the form container */
.ff {
    width: 60%;
    margin: 20px auto;
    padding: 15px;
    background-color: #b2ccfc;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style form elements */
form input[type="text"],
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Style form button on hover */
form button:hover {
    background-color: #0056b3;
}

/* Style the select dropdown */
form select {
    width: 100%;
}

.list {
    text-align: center;
    font-size: larger;
}

a.btn {
	display: block;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border-radius: 100vh;
	border-bottom: 7px solid #0686b2;
	background: #27acd9;
	color: #fff;
}
a.btn:hover {
	margin-top: 6px;
	border-bottom: 1px solid #0686b2;
	color: #fff;
}

.button2 {
    right: 5px;
}